@import "tailwindcss";

@theme {
  --font-display: "VT323", "monospace";
  --font-body: "Nunito", "sans-serif";
}

/* Custom Utilities */
.pixel-corners {
  clip-path: polygon(0px 4px,
      4px 4px,
      4px 0px,
      calc(100% - 4px) 0px,
      calc(100% - 4px) 4px,
      100% 4px,
      100% calc(100% - 4px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 4px) 100%,
      4px 100%,
      4px calc(100% - 4px),
      0px calc(100% - 4px));
}

.pixel-text {
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

body {
  font-family: var(--font-body);
}