@import "tailwindcss";

:root {
  --font-display: "VT323", monospace;
  --font-body: "Nunito", sans-serif;
}

/* Custom Utilities */
.pixel-corners {
  clip-path: polygon(0px 4px,
      4px 4px,
      4px 0px,
      calc(100% - 4px) 0px,
      calc(100% - 4px) 4px,
      100% 4px,
      100% calc(100% - 4px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 4px) 100%,
      4px 100%,
      4px calc(100% - 4px),
      0px calc(100% - 4px));
}

.pixel-text {
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

body {
  font-family: var(--font-body);
}

/* Safe Area Utilities */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.pl-safe {
  padding-left: env(safe-area-inset-left);
}

.pr-safe {
  padding-right: env(safe-area-inset-right);
}

.h-safe-screen {
  height: 100vh;
  /* Fallback */
  height: 100dvh;
}